.error .dialog .dialog__message {
  p,
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 420px;
  }
}
