// Mastodon Bird UI - Main index
// This file imports all Bird UI modules
// Add new modules here when modularizing

@use "tokens";
@use "base";
@use "components/error";
@use "components/tabs-bar";
@use "components/account-avatar";
@use "components/button";
@use "components/picture-in-picture";
@use "micro-interactions/heart";
@use "layouts/advanced-web-interface";
